h3 {
  margin-left: 47%;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50%;
}

h6 {
  margin-left: 44%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}


.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px; /* caché hors écran */
  width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.3);
  transition: right 0.3s ease;
  z-index: 1050;
  overflow-y: auto;
}

.cart-sidebar.open {
  right: 0; /* visible */
}
.cart-header {
  border-bottom: 1px solid #ddd;
}

footer {
  background-color: #a1b4d9; /* Couleur de fond sombre */
  color: #242627; /* Texte clair */
  text-align: center;
  padding: 20px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  border-top: 2px solid #34495e;
}

footer p {
  margin: 5px 0;
}
