
<div class="mise_container">

        <h3>Bienvenue Fanatic!</h3>
  
  <img [src]="imageUrl" [alt]="title">

  <h6>{{ description }}</h6>
</div>

<!-- Bouton pour ouvrir/fermer -->
<button class="btn btn-outline-primary m-3" (click)="toggleCart()">
  🛒 Voir Panier ({{ cart.length }})
</button>


<div class="cart-sidebar" [class.open]="isCartOpen">
  <h4>🛒 Panier</h4>
  @for(product of cart; track $index) {
    <div class="d-flex flex-column p-3 m-2 border rounded">
      <p>{{product.nom}}</p>
      <p>Prix unitaire: {{ product.prix }} €</p>
      <p>
        <input type="number" [(ngModel)]="product.quantity" min="1" (change)="product.total = product.quantity * product.prix" />
      </p>
      <button (click)="handleRemoveClick(products)" class="btn btn-sm btn-danger">Supprimer</button><br>
      <button class="btn btn-sm btn-success">envoyer achat</button>
    </div>
  }
  <button (click)="isCartOpen = false" class="btn btn-secondary">Fermer</button> <!--ici en ferme le panier-->
</div>


<!--<h2>les produit</h2>-->

<div class="products-container d-flex flex-wrap justify-content-center">
  @for (item of products; track $index) {
    <app-product-card [product]="item"
    (OnClicke)="handleProductClick($event)"
    ></app-product-card>
  }
</div>




<footer>
  <p> Creé le {{ createdAd }}</p>
  <p>© copyright 2025, Tous les droits reservés.</p> 
</footer>

