<h1>se connecter</h1>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address :</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password :</label>
</div>
<!--
<div class="signup-container px-4 py-3">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

    </div>

  </form>
</div>
-->

<div class="form-actions-buttons">
    <button type="submit" class="btn btn-primary">SE CONNECTER</button>
</div>

<p>login works!</p>
