
    <h2>Information de votre compte</h2>

@if (user) {
    <div class="profile">
        <h3>Votre Profile</h3>
        <p><strong>Nom:</strong> {{ user.name }}</p>
        <p><strong>Prénom:</strong> {{ user.firstname }}</p>
        <p><strong>Email:</strong> {{ user.email}}</p>
    </div>
}

<div class="modif">
    <h5>Modifier votre compte</h5>
    <button (click)="goToEdit()">Modifier les Information</button>
</div>

<div class="destroy text-danger">
    <h5>Supprimer son Compte</h5>
    <button (click)="DeleteCompte()">Supprimer</button>
</div>

<p>setting works!</p>
